<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<connectionStrings>
		<add name="MiniNavigatorDbContext"
			 connectionString="Host=localhost;Port=5432;Database=MiniNavigatorDB;Username=postgres;Password=V3s7"
			 providerName="Npgsql" />
	</connectionStrings>

	<system.data>
		<DbProviderFactories>
			<remove invariant="Npgsql" />
			<add name="Npgsql Data Provider"
				 invariant="Npgsql"
				 support="FF"
				 description=".NET Framework Data Provider for PostgreSQL"
				 type="Npgsql.NpgsqlFactory, Npgsql, Version=4.0.14.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
		</DbProviderFactories>
	</system.data>

	<entityFramework>
		<defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />
		<providers>
			<provider invariantName="Npgsql"
					  type="Npgsql.NpgsqlServices, Npgsql.EntityFramework6" />
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.14.0" newVersion="4.0.14.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>